@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@-webkit-keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 15px #ededed;
  }
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 15px #ededed;
  }
}
.navbar {
  background-color: rgba(18, 201, 134, 0.384) !important;
}

.logo {
  height: 90px;
}
.logo:hover {
  background-color: rgba(19, 94, 66, 0.384);
  border-radius: 50%;
  transition: all 0.1s;
}

.nav-link {
  font-family: "Dancing Script", cursive;
  font-size: 1.2rem;
  color: #b40606c2 !important;
  font-weight: bold;
}
.nav-link:hover {
  text-transform: uppercase;
  text-shadow: -1.5px 1px 2px rgba(19, 94, 66, 0.384);
  border-radius: 50%;
  transition: all 0.1s;
}

.main2 {
  background-color: #fafafa;
  background-image: url(https://cdn.pixabay.com/photo/2017/01/27/16/09/people-2013447_960_720.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}
.main2:hover {
  background-position: 100% 25%;
  transition: all 3s;
}

.footerUl {
  display: flex;
  list-style: none;
}

.carousel-indicators li {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-top: 1px;
  border-bottom: 1px;
  background-color: rgba(18, 201, 134, 0.384);
}

.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch::after {
  content: "";
  display: block;
  width: 23.5px;
  height: 23.5px;
  position: absolute;
  background: #ededed;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active {
  background: orange;
  color: #000;
}
.switch.active::after {
  right: 0;
  left: unset;
}
.switch span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: block;
  background: none;
  color: #fafafa;
}

.dark {
  background-color: #333;
  transition: background-color 0.5s;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark p, .dark li, .dark label {
  color: #ededed;
}

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 55px;
  bottom: 130px;
  right: 230px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  -webkit-animation: efecto 1.2s infinite;
          animation: efecto 1.2s infinite;
}
.btn-wsp:hover {
  text-decoration: none;
  color: #0df053 !important;
  background: white;
}

.grid-container {
  grid-area: container;
  display: grid;
  grid-template-areas: "box box box box box box";
}
.grid-container .box1, .grid-container .box5, .grid-container .box3 {
  width: auto;
  height: 80px;
  background: rgba(18, 201, 134, 0.384);
}
.grid-container .box2, .grid-container .box4 {
  width: auto;
  height: 80px;
  background: rgba(19, 94, 66, 0.384);
}/*# sourceMappingURL=estilossass.css.map */